body
{
    background-color: pink;
}

.grand-parent
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent
{
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 5fr;
    gap: 10px;

    height: 97vh;
    width: 97vw;
}

.child
{
    background-color: rgb(183, 107, 183);
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}